# Cargar los datos

In [224]:
import pandas as pd
import os

In [225]:
# rutas de artchivos 
root = "../data/" 
tarifas = "ARESEP_Tarifas.csv"
pasajeros= "pasajeros_movilizados/"

## Tarifa de los diferentes buses

In [226]:
#datos de tarifas 
df_tarifas = pd.read_csv(root+tarifas)

## Pasajeros que utilizan los servicios

In [227]:

# Datos de pasajeros movilizados
# obtener nombre de los files en un folder 
pasajeros_files = root + pasajeros
files = os.listdir(pasajeros_files)
print(files)
df_pasajeros = pd.DataFrame()
for file in files:
    df_mes = pd.read_csv(pasajeros_files + file)
    df_pasajeros = pd.concat([df_pasajeros,df_mes], axis=0) # axis 0 para combinar lso df verticalmente

['ARESEP_Pasajeros_movilizados_2024_Enero.csv', 'ARESEP_Pasajeros_movilizados_2024_Febrero.csv', 'ARESEP_Pasajeros_movilizados_2024_Marzo.csv']

# Analysis exploratorio

## Datos de los pasajeros movilizados

In [228]:
df_pasajeros.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3131 entries, 0 to 1035
Data columns (total 14 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Nombre Operador         3131 non-null   object
 1   Cédula                  3131 non-null   object
 2   Código Ruta             3131 non-null   object
 3   Descripción Ruta        3131 non-null   object
 4   Código Ramal            3131 non-null   object
 5   Descripción Ramal       3094 non-null   object
 6   Mes                     3131 non-null   int64
 7   Año                     3131 non-null   int64
 8   pasajeroEquivalente     0 non-null      float64
 9   pasajerosTotal          0 non-null      float64
 10  Pasajeros Adulto Mayor  3037 non-null   float64
 11  Pasajeros Regulares     3100 non-null   float64
 12  Carreras                3105 non-null   float64
 13  Ingresos                3100 non-null   float64
dtypes: float64(6), int64(2), object(6)
memory usage: 366.9+ KB

## Datos de las tarifas de los buses

In [229]:
df_tarifas.info()
df_tarifas
"Expediente (Requisito de Admisibilidad)",

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4447 entries, 0 to 4446
Data columns (total 14 columns):
 #   Column                                   Non-Null Count  Dtype
---  ------                                   --------------  -----
 0   Código Ruta                              4447 non-null   object
 1   Nombre Ruta                              4447 non-null   object
 2   Nombre Fraccionamiento                   4447 non-null   object
 3   Km por Viaje (Promedio)                  4447 non-null   float64
 4   Tarifa Regular (¢)                       4447 non-null   float64
 5   Tarifa Adulto Mayor (¢)                  4447 non-null   float64
 6   Resolución                               4447 non-null   object
 7   Fecha de Resolución                      4447 non-null   object
 8   Gaceta                                   4447 non-null   int64
 9   Alcance                                  4447 non-null   int64
 10  Fecha de la Gaceta                       4447 non-null   object
 11  Fecha Vigencia                           4447 non-null   object
 12  Expediente (Requisito de Admisibilidad)  4346 non-null   object
 13  Operadores                               4447 non-null   object
dtypes: float64(3), int64(2), object(9)
memory usage: 486.5+ KB

('Expediente (Requisito de Admisibilidad)',)

In [230]:
df_pasajeros.describe()
df_pasajeros.shape

(3131, 14)

In [231]:
df_tarifas.describe()
df_tarifas.shape

(4447, 14)

# Limpieza de los datos

## Verificacion de nulls y eliminacion de columnas no necesarias en el analysis

In [232]:
df_pasajeros["fecha"] = pd.to_datetime(df_pasajeros["Año"].astype(str) + "-" + df_pasajeros["Mes"].astype(str) + "-01")
col_pasajeros = ["pasajeroEquivalente","pasajerosTotal","Año","Mes",]
df_pasajeros = df_pasajeros.drop(columns=col_pasajeros)
df_pasajeros

,Nombre Operador,Cédula,Código Ruta,Descripción Ruta,Código Ramal,Descripción Ramal,Pasajeros Adulto Mayor,Pasajeros Regulares,Carreras,Ingresos,fecha
0,A.T.Z. ALFARO RUIZ S.A.,3-101-554030,214,SAN JOSE-ZARCERO-LAGUNA DE ALFARO RUIZ,R0581,SAN JOSE-ZARCERO-LAGUNA DE ALFARO RUIZ,302.0,5865.0,116.0,7231885.0,2024-01-01
1,"ALGONZA, S.A.",3-101-096643,542,NICOYA-NANDAYURE,R1417,NICOYA-NANDAYURE,397.0,3323.0,78.0,2784800.0,2024-01-01
2,ALPIZAR S.A.,3-101-074028,1235,ALAJUELA-EL LLANO-BRASIL-SEGURO SOCIAL,R0573,ALAJUELA-BARRIO FATIMA,498.0,2925.0,438.5,1096875.0,2024-01-01
3,ALPIZAR S.A.,3-101-074028,1235,ALAJUELA-EL LLANO-BRASIL-SEGURO SOCIAL,R0915,ALAJUELA-EL LLANO-BRASIL-BRASILIA-SEGURO SOCIA...,8410.0,20710.0,1299.0,7455600.0,2024-01-01
4,ALPIZAR S.A.,3-101-074028,1235,ALAJUELA-EL LLANO-BRASIL-SEGURO SOCIAL,R2300,ALAJUELA-TARGUASES-ERIZO,5803.0,34445.0,1450.0,12916875.0,2024-01-01
...,...,...,...,...,...,...,...,...,...,...,...
1031,Transryo S.A.,3-101-589064,542,NICOYA-NANDAYURE,R1417,NICOYA-NANDAYURE,51.0,3244.0,40.0,2137000.0,2024-03-01
1032,"TRANSVI, S.A.",3-101-120819,25,SAN JOSE-CALLE BLANCOS-MONTELIMAR-SAN ANTONIO ...,R0129,SAN JOSE-CALLE BLANCOS-MONTELIMAR,16803.0,71087.0,1814.0,20259795.0,2024-03-01
1033,"TRANSVI, S.A.",3-101-120819,25,SAN JOSE-CALLE BLANCOS-MONTELIMAR-SAN ANTONIO ...,R1908,SAN JOSE-CALLE BLANCOS-MONTELIMAR POR RECOPE,7179.0,46215.0,1293.0,13171275.0,2024-03-01
1034,"VIDAL ENRIQUE Y MINOR, S.A.(VEMSA)",3-101-079398,366,CARTAGO-LLANO GRANDE,R1157,CARTAGO-BARRIO SAGRADA FAMILIA,245.0,2211.0,52.0,895875.0,2024-03-01
1035,"VIDAL ENRIQUE Y MINOR, S.A.(VEMSA)",3-101-079398,366,CARTAGO-LLANO GRANDE,R1158,CARTAGO-LLANO GRANDE CON ENTRADA A LAS PAVAS,507.0,9873.0,93.5,4896355.0,2024-03-01

In [233]:
df_tarifas = df_tarifas.iloc[:, :-8]  # Mantiene todas las filas y elimina las últimas 7 columnas
df_tarifas = df_tarifas.drop(columns=["Nombre Ruta"])
df_tarifas

,Código Ruta,Nombre Fraccionamiento,Km por Viaje (Promedio),Tarifa Regular (¢),Tarifa Adulto Mayor (¢)
0,I-1,DESAMPARADOS-MORAVIA,13.15,335.0,0.0
1,I-4,URUCA - GUADALUPE,11.30,350.0,0.0
2,I-5,URUCA-ESCAZU,9.25,425.0,0.0
3,I-3,SANTA ANA - SAN ANTONIO DE BELEN - LA VALENCIA,13.15,320.0,0.0
4,I-6,ESCAZU - ALAJUELITA - HATILLO,13.15,415.0,0.0
...,...,...,...,...,...
4442,347,TURRIALBA-SAN RAFAEL-SAN ANTONIO,18.35,525.0,0.0
4443,347,TURRIALBA-CALLE BAMBU-VERBENA SUR-VERBENA NORTE,3.14,525.0,0.0
4444,347,TURRIALBA-SANTA ROSA,7.93,350.0,0.0
4445,347,TURRIALBA-SANTA ROSA,7.93,350.0,0.0
4446,347,TURRIALBA-CALLE BAMBU-VERBENA SUR-VERBENA NORTE,3.14,525.0,0.0

## Eliminar nulos

In [234]:
df_pasajeros = df_pasajeros.dropna(subset=["Descripción Ramal"])

In [235]:
df_tarifas = df_tarifas.dropna(subset=["Nombre Fraccionamiento"])

## Convertir en minuscula y eliminar caracteres especiales

In [236]:
import re

In [237]:
# Function for text preprocessing
def preprocess_text(text):
    try:
        text = text.lower()  # Convert to lowercase
        text = re.sub(r'[^a-zA-Z\s]', '', text)  # Remove special characters
    except:
        print("error found")
    return text

In [238]:
df_pasajeros["Descripción Ramal"].describe

<bound method NDFrame.describe of 0                  SAN JOSE-ZARCERO-LAGUNA DE ALFARO RUIZ
1                                        NICOYA-NANDAYURE
2                                  ALAJUELA-BARRIO FATIMA
3       ALAJUELA-EL LLANO-BRASIL-BRASILIA-SEGURO SOCIA...
4                                ALAJUELA-TARGUASES-ERIZO
                              ...
1031                                     NICOYA-NANDAYURE
1032                    SAN JOSE-CALLE BLANCOS-MONTELIMAR
1033         SAN JOSE-CALLE BLANCOS-MONTELIMAR POR RECOPE
1034                       CARTAGO-BARRIO SAGRADA FAMILIA
1035         CARTAGO-LLANO GRANDE CON ENTRADA A LAS PAVAS
Name: Descripción Ramal, Length: 3094, dtype: object>

In [239]:
df_tarifas["Nombre Fraccionamiento"] = df_tarifas["Nombre Fraccionamiento"].apply(preprocess_text)
df_pasajeros["Descripción Ramal"] = df_pasajeros["Descripción Ramal"].apply(preprocess_text)

C:\Users\jeffh\AppData\Local\Temp\ipykernel_48320\2557199775.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_pasajeros["Descripción Ramal"] = df_pasajeros["Descripción Ramal"].apply(preprocess_text)

## Unificar datos

In [240]:
df_compare = pd.concat([
    df_pasajeros["Descripción Ramal"].reset_index(drop=True),
    df_tarifas["Nombre Fraccionamiento"].reset_index(drop=True)
], axis=1)

df_compare = df_compare.sort_values(by=["Descripción Ramal", "Nombre Fraccionamiento"])
df_compare

,Descripción Ramal,Nombre Fraccionamiento
3030,ext nicoyanosara,san joseconcepcion de alajuelita arriba por sa...
973,ext nicoyanosara,san ramonla ermita
2004,ext nicoyanosara,santa cruzpuente negro
2995,ext san josenaranjoconcepcion,paquitabamb
938,ext san josenaranjoconcepcion,san ramonbajo cordoba
...,...,...
4180,NaN,upalasanta lucia
4185,NaN,upalasanta lucia
4190,NaN,upalasanta lucia
4195,NaN,upalasanta lucia
4200,NaN,upalasanta lucia

In [241]:

df = pd.merge(df_tarifas, df_pasajeros, right_on=["Código Ruta", "Descripción Ramal"], left_on=["Código Ruta", "Nombre Fraccionamiento"], how="inner")

In [242]:
df_tarifas.shape

(4447, 5)

In [243]:
df_pasajeros.shape

(3094, 11)

In [244]:
df.shape

(1153, 15)

In [245]:
df

,Código Ruta,Nombre Fraccionamiento,Km por Viaje (Promedio),Tarifa Regular (¢),Tarifa Adulto Mayor (¢),Nombre Operador,Cédula,Descripción Ruta,Código Ramal,Descripción Ramal,Pasajeros Adulto Mayor,Pasajeros Regulares,Carreras,Ingresos,fecha
0,I-1,desamparadosmoravia,13.15,335.0,0.0,"AUTOTRANSPORTES CESMAG, S.A.",3-101-065720,DESAMPARADOS-MORAVIA,R0002,desamparadosmoravia,2197.0,19987.0,233.0,6456600.0,2024-01-01
1,I-1,desamparadosmoravia,13.15,335.0,0.0,"AUTOTRANSPORTES DESAMPARADOS, S.A.",3-101-008737,DESAMPARADOS-MORAVIA,R0002,desamparadosmoravia,2500.0,27694.0,306.0,9415960.0,2024-01-01
2,I-1,desamparadosmoravia,13.15,335.0,0.0,"AUTOTRANSPORTES MORAVIA, S.A.",3-101-054596,DESAMPARADOS-MORAVIA,R0002,desamparadosmoravia,2246.0,23436.0,349.0,7968240.0,2024-01-01
3,I-1,desamparadosmoravia,13.15,335.0,0.0,"AUTOTRANSPORTES SAN ANTONIO, S.A.",3-101-053317,DESAMPARADOS-MORAVIA,R0002,desamparadosmoravia,2270.0,23729.0,314.0,8067860.0,2024-01-01
4,I-1,desamparadosmoravia,13.15,335.0,0.0,"AUTOTRANSPORTES CESMAG, S.A.",3-101-065720,DESAMPARADOS-MORAVIA,R0002,desamparadosmoravia,2321.0,23389.0,260.5,7940525.0,2024-02-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1148,217,san josesan rafael,18.90,615.0,0.0,"TRANSPORTES FERNANDO ZUÑIGA E HIJOS, S.A.",3-101-072628,SAN JOSE-BELEN-LA REFORMA-LA GUACIMA-SAN RAFAE...,R0589,san josesan rafael,980.0,25133.0,308.0,13103960.0,2024-02-01
1149,217,san josesan rafael,18.90,615.0,0.0,"TRANSPORTES FERNANDO ZUÑIGA E HIJOS, S.A.",3-101-072628,SAN JOSE-BELEN-LA REFORMA-LA GUACIMA-SAN RAFAE...,R0589,san josesan rafael,1615.0,19516.0,298.5,10538640.0,2024-03-01
1150,512,san josenandayure,227.20,4525.0,3395.0,TRANSPORTES GUANACASTECOS RYOZUMO CR S.A.,3-101-680340,SAN JOSE-NANDAYURE Y VICEVERSA,R1416,san josenandayure,NaN,NaN,NaN,NaN,2024-01-01
1151,512,san josenandayure,227.20,4525.0,3395.0,TRANSPORTES GUANACASTECOS RYOZUMO CR S.A.,3-101-680340,SAN JOSE-NANDAYURE Y VICEVERSA,R1416,san josenandayure,107.0,2366.0,57.0,11619000.0,2024-02-01
1152,512,san josenandayure,227.20,4525.0,3395.0,TRANSPORTES GUANACASTECOS RYOZUMO CR S.A.,3-101-680340,SAN JOSE-NANDAYURE Y VICEVERSA,R1416,san josenandayure,113.0,2552.0,61.0,12498200.0,2024-03-01

# Modelo de predicion de ingresos mensuales

In [251]:
# con este mdelo los operadores podrian proyectar y manejar mejor sus finanzas segun los ingresos promedio por mes 
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, KBinsDiscretizer
from sklearn.ensemble import RandomForestRegressor, RandomForestClassifier
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score, accuracy_score, classification_report

In [253]:
# Convertir la columna de fecha a tipo datetime
df["fecha"] = pd.to_datetime(df["fecha"])

features = ["Pasajeros Adulto Mayor", "Pasajeros Regulares", "Carreras", "Tarifa Regular (¢)", "Km por Viaje (Promedio)"]
X = df[features]
y = df["Ingresos"]

# Modelo de Clasificación de operadores con mejor desempeño

In [248]:
# con este modelo se buscaria replicar las cosas que hace el mejor operador en el que peor lo hace

# Modelo de Predicción de cantidad de pasajeros

In [ ]:
# con este modelo se puede valorar si es neceario agregar mas buses a la ruta o abrir nuevas rutas