# Cargar los datos

In [29]:
import pandas as pd
import os

In [30]:
# rutas de artchivos 
root = "../data/" 
tarifas = "ARESEP_Tarifas.csv"
pasajeros= "pasajeros_movilizados/"

## Tarifa de los diferentes buses

In [45]:
#datos de tarifas 
df_tarifas = pd.read_csv(root+tarifas)

## Pasajeros que utilizan los servicios

In [ ]:

# Datos de pasajeros movilizados
# obtener nombre de los files en un folder 
pasajeros_files = root + pasajeros
files = os.listdir(pasajeros_files)
print(files)
df_pasajeros = pd.DataFrame()
for file in files:
    df_mes = pd.read_csv(pasajeros_files + file)
    df_pasajeros = pd.concat([df_pasajeros,df_mes], axis=0) # axis 0 para combinar lso df verticalmente

['ARESEP_Pasajeros_movilizados_2024_Enero.csv', 'ARESEP_Pasajeros_movilizados_2024_Febrero.csv', 'ARESEP_Pasajeros_movilizados_2024_Marzo.csv']

# Analysis exploratorio

## Datos de los pasajeros movilizados

In [44]:
df_pasajeros.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3131 entries, 0 to 1035
Data columns (total 14 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Nombre Operador         3131 non-null   object
 1   Cédula                  3131 non-null   object
 2   Código Ruta             3131 non-null   object
 3   Descripción Ruta        3131 non-null   object
 4   Código Ramal            3131 non-null   object
 5   Descripción Ramal       3094 non-null   object
 6   Mes                     3131 non-null   int64
 7   Año                     3131 non-null   int64
 8   pasajeroEquivalente     0 non-null      float64
 9   pasajerosTotal          0 non-null      float64
 10  Pasajeros Adulto Mayor  3037 non-null   float64
 11  Pasajeros Regulares     3100 non-null   float64
 12  Carreras                3105 non-null   float64
 13  Ingresos                3100 non-null   float64
dtypes: float64(6), int64(2), object(6)
memory usage: 366.9+ KB

## Datos de las tarifas de los buses

In [46]:
df_tarifas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4447 entries, 0 to 4446
Data columns (total 14 columns):
 #   Column                                   Non-Null Count  Dtype
---  ------                                   --------------  -----
 0   Código Ruta                              4447 non-null   object
 1   Nombre Ruta                              4447 non-null   object
 2   Nombre Fraccionamiento                   4447 non-null   object
 3   Km por Viaje (Promedio)                  4447 non-null   float64
 4   Tarifa Regular (¢)                       4447 non-null   float64
 5   Tarifa Adulto Mayor (¢)                  4447 non-null   float64
 6   Resolución                               4447 non-null   object
 7   Fecha de Resolución                      4447 non-null   object
 8   Gaceta                                   4447 non-null   int64
 9   Alcance                                  4447 non-null   int64
 10  Fecha de la Gaceta                       4447 non-null   object
 11  Fecha Vigencia                           4447 non-null   object
 12  Expediente (Requisito de Admisibilidad)  4346 non-null   object
 13  Operadores                               4447 non-null   object
dtypes: float64(3), int64(2), object(9)
memory usage: 486.5+ KB

In [54]:
df_pasajeros.describe()
df_pasajeros.shape

(3131, 14)

In [53]:
df_tarifas.describe()
df_tarifas.shape

(4447, 14)

# Limpieza de los datos

## Verificacion de nulls y eliminacion de columnas no necesarias en el analysis